QWidget{
    background-color: rgba(0,0,0,0.72);
}

QPushButton{
    background-color: rgba(0,0,0,.4);
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5pt;
}

#loginBtn{
    color: rgb(255,0,0);
}

#registerBtn{
    color:rgb(0,0,255);
}